* {
	margin: 0;
	padding: 0;
}

html {
	background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
    background-repeat: no-repeat;
}

body h1 {
    color: red;
}

body {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-gap: 16px;
    
    margin: 1em;
    background-color: white;
}

header { 
    grid-row: 1/2;
    grid-column: 1/span 1; 
    padding: 1em;  
}

nav { 
    grid-row: 1/2; 
    grid-column: 2/span 8;
    padding: 2em; 
}

article {
    grid-row:2/12;
    grid-column: 1/span 12;
    padding: 3em;
   
}

article h1 {
    padding: .5em;
}
article p {
    padding: 0em 0em 0em 1.5em;
}

.interests_ul{
    margin-left: 2em;
}

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}
#nav_menu ul li a {
    font-weight: bold;
    color: blue;
}

#nav_menu ul li a.current { text-decoration: none; }